header, hgroup, nav, footer, figure, figcaption, aside, section, article {
  display: block;
}
header {background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000033;}
h1 { color:#ffffff ;
    font-family: Georgia,Times,"Times New Roman",serif;
    margin-bottom: 0;
    padding: 10px 10px}
nav { font-weight: bold;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    float: left;
    width: 160px}
nav ul {list-style-type: none;
    padding: 0;
    margin: 0}
nav a {text-decoration: none}
nav a:link { color:#003 }
nav a:visited { color:#344873 }
nav a:hover { color:#fff }
body { color:#666666;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    background-image: url(images/ptrbackground.jpg)}
#wrapper { background-color: #90C7E3;
    width: 80%;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #003;}
#content { background-color: #fff;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 190px }
.float {float:left;
    padding-right: 20px}
h2 { color: #3399CC;
    font-family: Georgia,Times,"Times New Roman",serif;
    text-shadow: 1px 1px 1px #666}
.resort { color: #5C7FA3;
    font-weight: bold}    
h3 { color:#000033;
    font-family: Georgia,Times,"Times New Roman",serif}
#content ul { list-style-image: url(images/marker.gif);
    list-style-position:inside}
table {border: 1px solid #39c;
    width: 80%;
    border-spacing: 0}
td, th {padding: 5px;
    border: 1px solid #39c;
    text-align: center}
.text {text-align: left}
tr:nth-of-type(even) {background-color: #F5FAFC}
label {float: left;
    display: block;
    text-align: right;
    width: 120px}
input, textarea {display: block;
    margin-bottom: 20px}
#contact {font-size: 90% }
.desktop {display: inline;}
.mobile {display: none}
#gallery {position: relative;
    height: 200px}
#gallery ul {list-style-type: none;
    width: 250px}
#gallery li {display: inline;
    float:left;
    padding: 10px}
#gallery img {float: none;
    padding:0}
#gallery a { text-decoration: none;
    color: #666;
    font-style: italic}
#gallery span {display: none}
#gallery a:hover span {display :block;
    position:absolute;
    top: 15px; left: 320px;text-align: center}
#placeholder {position: absolute;
    top: 15px;
    left: 320px;
    opacity: .25}
footer { background-color: #fff;
    font-style: italic;
    font-size: 75%;
    font-family: Georgia,Times,"Times New Roman",serif;
    padding: 20px;
    margin-left: 190px;
    clear:both}
@media only screen and (max-width: 768px) {
    nav {float: none;
    width: auto;
    padding: 0}
    nav ul {padding-left: 10px;
        margin-top: .5em;
        margin-bottom: .5em}
    nav li {display: inline;
        padding:0em .75em}
    body {margin: 0}
    #wrapper {min-width: 0;
        width: auto;
        box-shadow: none}
    #content {margin-left: 0}
    footer {margin-left: 0}
}
@media only screen and (max-width: 550px) {
    #gallery {display: none}
}
@media only screen and (max-width: 480px) {
    h1 {padding-left: .3em;
        margin: 0;
        font-size: 1.5em}
    #content {padding: .1em 1em;
        margin: 0;
        font-size: 90%}
    nav ul {text-align: center;
        padding: 0;
        margin: 0}
   nav li {display: block;
       margin: 0;
       padding: .3em;
       border-bottom-style: solid;
       border-bottom-width: 2px;
       border-bottom-color: #300}   
    nav a {display: block}
    #content img {float: none;
        padding: 0;
        margin: .1em}
    #content ul {list-style-position: outside}
    .desktop {display: none}
    .mobile {display: inline}
    label {float: none}
    
}